In [54]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [55]:
file_to_load = ("Resources/purchase_data.csv")
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Player Count
Display Total Number of Players

In [56]:
Player_count = purchase_data["SN"].nunique()
Player_count

576

### Purchasing Analysis(Total)

In [57]:
unique_items = purchase_data["Item ID"].nunique()
unique_items

179

In [58]:
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [59]:
Total_purchase_number = purchase_data["Price"].count()
Total_purchase_number

780

In [60]:
Total_revenue = average_price*Total_purchase_number
Total_revenue

2379.7699999999973

In [61]:
data = {'Number of Unique Items':[unique_items],'Average Purchase Price':[average_price],'Total Number of Purchases':[Total_purchase_number],'Total Revenue':[Total_revenue]}
purchasing_analysis_df = pd.DataFrame(data)
purchasing_analysis_df['Average Purchase Price'] = purchasing_analysis_df['Average Purchase Price'].map("${:.2f}".format)
purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df['Total Revenue'].map("${:.2f}".format)
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

### Gender Demographics

In [62]:
male_df = purchase_data.loc[purchase_data["Gender"] == "Male",:]
male_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [63]:
male_count = male_df["SN"].nunique()
male_count

484

In [64]:
female_df = purchase_data.loc[purchase_data["Gender"] == "Female",:]
female_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [65]:
female_count = female_df["SN"].nunique()
female_count

81

In [66]:
other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]
other_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [67]:
other_count = other_df["SN"].nunique()
other_count

11

In [68]:
male_percent = (male_count/(male_count+female_count+other_count))*100
female_percent = (female_count/(male_count+female_count+other_count))*100
other_percent = (other_count/(male_count+female_count+other_count))*100

In [69]:
gender_data = {"":["Male","Female","Other / Non-Disclosed"],"Total Count":[male_count,female_count,other_count],"Percentage of Players":[male_percent,female_percent,other_percent]}
gender_df = pd.DataFrame(gender_data)
gender_df

                          Total Count  Percentage of Players
0                   Male          484              84.027778
1                 Female           81              14.062500
2  Other / Non-Disclosed           11               1.909722

In [70]:
gender_df = gender_df.set_index("")
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].astype(float).map("{:.2f}%".format)
gender_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

### Purchasing Analysis(Gender)

In [71]:
gender_group = purchase_data.groupby(['Gender'])
gender_count = gender_group["Purchase ID"].count()

In [72]:
average_purchase_price = gender_group['Price'].mean()
Total_purchase_value = gender_group['Price'].sum()

In [73]:
average_purchase_price_per_person_male = Total_purchase_value['Male']/male_count
average_purchase_price_per_person_female = Total_purchase_value['Female']/female_count
average_purchase_price_per_person_other = Total_purchase_value['Other / Non-Disclosed']/other_count

In [74]:
purchase_analysis_gender_df = pd.DataFrame({
    "Purchase Count": gender_count,"Average Purchase Price": average_purchase_price,"Total Purchase Value": Total_purchase_value,"Avg Total Purchase per Person": [average_purchase_price_per_person_female,average_purchase_price_per_person_male,average_purchase_price_per_person_other]
})
purchase_analysis_gender_df["Average Purchase Price"] = purchase_analysis_gender_df["Average Purchase Price"].astype(float).map("${:.2f}".format)
purchase_analysis_gender_df["Total Purchase Value"] = purchase_analysis_gender_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchase_analysis_gender_df["Avg Total Purchase per Person"] = purchase_analysis_gender_df["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)
purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

### Age Demographics

In [75]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [76]:
purchase_unique = purchase_data.drop_duplicates('SN',keep='first')
purchase_unique

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [77]:
bins = [0,9,14,19,24,29,34,39,47]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_unique["Age group"] = pd.cut(purchase_unique["Age"],bins,labels = group_labels)
purchase_unique.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [79]:
age_group = purchase_unique.groupby("Age group")["Age"].count().reset_index()
age_group = age_group.rename(columns = {"Age":"Total count"})
age_group["Percentage of Players"] = 100*age_group["Total count"]/age_group["Total count"].sum()
age_group["Percentage of Players"] = age_group["Percentage of Players"].astype(float).map("{:.2f}%".format)
age_group.set_index("Age group")

           Total count Percentage of Players
Age group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

### Purchasing Analysis (Age)

In [80]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [81]:
bins = [0,9,14,19,24,29,34,39,47]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age group"] = pd.cut(purchase_data["Age"],bins,labels = group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [82]:
pdc = purchase_data.groupby("Age group")["SN"].count()
pdc = pdc.reset_index()
pdc = pdc.rename(columns = {"SN":"Purchase Count"})
pdc

  Age group  Purchase Count
0       <10              23
1     10-14              28
2     15-19             136
3     20-24             365
4     25-29             101
5     30-34              73
6     35-39              41
7       40+              13

In [83]:
app = purchase_data.groupby("Age group")["Price"].mean()
app = app.reset_index()
# app["Price"] = app["Price"].map("${:.2f}".format)
app = app.rename(columns={"Price":"Average Purchase Price"})
app

  Age group  Average Purchase Price
0       <10                3.353478
1     10-14                2.956429
2     15-19                3.035956
3     20-24                3.052219
4     25-29                2.900990
5     30-34                2.931507
6     35-39                3.601707
7       40+                2.941538

In [84]:
tpv = purchase_data.groupby("Age group")["Price"].sum()
tpv = tpv.reset_index()
# tpv["Price"] = tpv["Price"].map("${:.2f}".format).astype(float)
tpv = tpv.rename(columns = {"Price":"Total Purchase Value"})
tpv

  Age group  Total Purchase Value
0       <10                 77.13
1     10-14                 82.78
2     15-19                412.89
3     20-24               1114.06
4     25-29                293.00
5     30-34                214.00
6     35-39                147.67
7       40+                 38.24

In [85]:
tpv["Avg Total Purchase per Person"] = tpv["Total Purchase Value"]/age_group["Total count"]
tpv

  Age group  Total Purchase Value  Avg Total Purchase per Person
0       <10                 77.13                       4.537059
1     10-14                 82.78                       3.762727
2     15-19                412.89                       3.858785
3     20-24               1114.06                       4.318062
4     25-29                293.00                       3.805195
5     30-34                214.00                       4.115385
6     35-39                147.67                       4.763548
7       40+                 38.24                       3.186667

In [86]:
combine = pdc.merge(app,on='Age group')
combine = combine.merge(tpv,on='Age group')

combine["Average Purchase Price"] = combine["Average Purchase Price"].map("${:.2f}".format)
combine["Total Purchase Value"] = combine["Total Purchase Value"].map("${:.2f}".format)
combine["Avg Total Purchase per Person"] = combine["Avg Total Purchase per Person"].map("${:.2f}".format)
combine = combine.rename(columns={'Age group':'Age Ranges'})
combine.set_index("Age Ranges")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [87]:
purchase_data['Total Purchase Value'] = purchase_data.groupby(['SN'])['Price'].transform('sum')
purchase_data['Purchase Count'] = purchase_data.groupby(['SN'])['Price'].transform('count')
purchase_data['Average Purchase Price'] = purchase_data['Total Purchase Value']/purchase_data['Purchase Count']
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group,Total Purchase Value,Purchase Count,Average Purchase Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,10.02,3,3.340
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,1.56,1,1.560
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,4.88,1,4.880
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,3.27,1,3.270
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,1.44,1,1.440
...,...,...,...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24,3.54,1,3.540
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24,13.62,4,3.405
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24,3.46,1,3.460
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10,4.19,1,4.190
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24,6.08,2,3.040

In [88]:
purchase_unique = purchase_data.drop_duplicates(subset=['SN'])
purchase_unique

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group,Total Purchase Value,Purchase Count,Average Purchase Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,10.02,3,3.34
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,1.56,1,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,4.88,1,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,3.27,1,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,1.44,1,1.44
...,...,...,...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24,1.02,1,1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14,4.19,1,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24,3.54,1,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24,3.46,1,3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10,4.19,1,4.19

In [89]:
top_5 = purchase_unique.nlargest(5,'Total Purchase Value')
top_5

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group,Total Purchase Value,Purchase Count,Average Purchase Price
74,74,Lisosia93,25,Male,89,"Blazefury, Protector of Delusions",4.64,25-29,18.96,5,3.792000
290,290,Idastidru52,24,Male,147,"Hellreaver, Heirloom of Inception",4.93,20-24,15.45,4,3.862500
222,222,Chamjask73,22,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,20-24,13.83,3,4.610000
128,128,Iral74,21,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24,13.62,4,3.405000
148,148,Iskadarya95,20,Male,148,"Warmonger, Gift of Suffering's End",4.03,20-24,13.10,3,4.366667

In [90]:
top_spenders = top_5[['SN','Purchase Count','Average Purchase Price','Total Purchase Value']]

top_spenders['Average Purchase Price'] = top_spenders['Average Purchase Price'].map("${:.2f}".format)
top_spenders['Total Purchase Value'] = top_spenders['Total Purchase Value'].map("${:.2f}".format)
top_spenders.set_index('SN')

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [91]:
top_spenders = top_5.loc[:,['SN','Purchase Count','Average Purchase Price','Total Purchase Value']]

top_spenders['Average Purchase Price'] = top_spenders['Average Purchase Price'].map("${:.2f}".format)
top_spenders['Total Purchase Value'] = top_spenders['Total Purchase Value'].map("${:.2f}".format)
top_spenders.set_index('SN')

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

### Most Popular Items

In [92]:
purchase_data['Purchase Count'] = purchase_data.groupby(['Item ID'])['Price'].transform('count')
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group,Total Purchase Value,Purchase Count,Average Purchase Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,10.02,9,3.340
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,1.56,6,1.560
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,4.88,13,4.880
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,3.27,5,3.270
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,1.44,5,1.440
...,...,...,...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24,3.54,8,3.540
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24,13.62,7,3.405
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24,3.46,4,3.460
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10,4.19,13,4.190
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24,6.08,4,3.040

In [93]:
purchase_data['Total Purchase Value'] = purchase_data.groupby(['Item ID'])['Price'].transform('sum')

In [94]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group,Total Purchase Value,Purchase Count,Average Purchase Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,31.77,9,3.340
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,9.36,6,1.560
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,59.99,13,4.880
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,16.35,5,3.270
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,7.20,5,1.440
...,...,...,...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24,28.32,8,3.540
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24,11.41,7,3.405
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24,13.84,4,3.460
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10,59.99,13,4.190
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24,18.40,4,3.040

In [95]:
Item_count = purchase_data.drop_duplicates(subset=['Item ID'])
Item_count

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group,Total Purchase Value,Purchase Count,Average Purchase Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,31.77,9,3.340000
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,9.36,6,1.560000
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,59.99,13,4.880000
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,16.35,5,3.270000
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,7.20,5,1.440000
...,...,...,...,...,...,...,...,...,...,...,...
664,664,Chamistast30,31,Male,47,"Alpha, Reach of Ending Hope",3.58,30-34,3.58,1,3.580000
673,673,Idacal95,30,Male,130,Alpha,2.07,30-34,6.21,3,2.070000
700,700,Chanosia60,31,Male,90,Betrayer,2.94,30-34,2.94,1,2.710000
717,717,Chanilsast61,30,Male,177,"Winterthorn, Defender of Shifting Worlds",2.08,30-34,4.16,2,2.080000
727,727,Yathecal82,20,Female,104,Gladiator's Glaive,1.93,20-24,1.93,1,2.073333

In [96]:
sort_item = Item_count.sort_values('Purchase Count',ascending=False)

In [97]:
sort_item.head(6)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group,Total Purchase Value,Purchase Count,Average Purchase Price
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,59.99,13,4.880000
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29,50.76,12,4.230000
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,31.77,9,3.340000
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24,44.10,9,4.410000
132,132,Inguron55,23,Male,145,Fiery Glass Crusader,4.58,20-24,41.22,9,3.703333
24,24,Siala43,30,Male,132,Persuasion,3.19,30-34,28.99,9,3.630000

In [98]:
popular = Item_count.nlargest(5,'Purchase Count')
popular['Price'] = popular['Price'].map("${:.2f}".format)
popular['Total Purchase Value'] = popular['Total Purchase Value'].map("${:.2f}".format)
popular = popular.rename(columns={'Price':'Item Price'})
popular

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Item Price,Age group,Total Purchase Value,Purchase Count,Average Purchase Price
2,2,Ithergue48,24,Male,92,Final Critic,$4.88,20-24,$59.99,13,4.88
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,25-29,$50.76,12,4.23
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53,20-24,$31.77,9,3.34
18,18,Reunasu60,22,Female,82,Nirvana,$4.90,20-24,$44.10,9,4.41
24,24,Siala43,30,Male,132,Persuasion,$3.19,30-34,$28.99,9,3.63

In [99]:
Most_Popular_Items = popular[['Item ID','Item Name','Purchase Count','Item Price','Total Purchase Value']]
Most_Popular_Items.set_index('Item ID','Item Name')

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.88,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
132,Persuasion,9,$3.19,$28.99

### Most Profitable Items

In [100]:
most_profitable = Item_count.nlargest(5,'Total Purchase Value')
most_profitable

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group,Total Purchase Value,Purchase Count,Average Purchase Price
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,59.99,13,4.880000
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29,50.76,12,4.230000
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24,44.10,9,4.410000
132,132,Inguron55,23,Male,145,Fiery Glass Crusader,4.58,20-24,41.22,9,3.703333
175,175,Indcil77,17,Male,103,Singed Scalpel,4.35,15-19,34.80,8,4.350000

In [101]:
Most_Profitable_Items = most_profitable[['Item ID','Item Name','Purchase Count','Price','Total Purchase Value']]

Most_Profitable_Items = Most_Profitable_Items.rename(columns={'Price':'Item Price'})
Most_Profitable_Items['Item Price'] = Most_Profitable_Items['Item Price'].map("${:.2f}".format)
Most_Profitable_Items['Total Purchase Value'] = Most_Profitable_Items['Total Purchase Value'].map("${:.2f}".format)
Most_Profitable_Items.set_index('Item ID')

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.88,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

### Observable Trends

1. Majority of gamers are male, comprising more than 84% (484 out of 576 total unique players). 
    81 female players (or 14%) and rest are other/undisclosed.
2. However, average purchase is higher for both females and other/undisclosed compared to male. 
    Average female purchase value is $4.47, other/undisclosed average purchase value $4.56 versus $4.07 for males. 
    One possible explanation is that female/other players tend to show higher engagement compared to male players.
3. Majority of players are in the age range of 15 - 29, totaling 442 out of 576 (more than 75%).
    One reason could be lower commitments in terms of work/family for this age cohort with more free time to engage in video games.
    Total purchase value highest for the 20-24 age range.
    Average purchase price highest for 35-39 age group, indicating higher discretionary income.