In [1]:
import pandas as pd

In [9]:
file_to_load = ("Resources/purchase_data.csv")
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count###
Display Total Number of Players

In [13]:
Player_count = purchase_data["SN"].nunique()
Player_count

576

Purchasing Analysis(Total)

In [14]:
unique_items = purchase_data["Item ID"].nunique()
unique_items

179

In [83]:
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [20]:
Total_purchase_number = purchase_data["Price"].count()
Total_purchase_number

780

In [84]:
Total_revenue = average_price*Total_purchase_number
Total_revenue

2379.7699999999973

In [25]:
data = {'Number of Unique Items':[unique_items],'Average Purchase Price':[{"average_price:2f"}],'Total Number of Purchases':[Total_purchase_number],'Total Revenue':[round(Total_revenue,2)]}
purchasing_analysis_df = pd.DataFrame(data)
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.05,780,2379.77

In [85]:
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].astype(float).map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

###Gender Demographics

In [39]:
male_df = purchase_data.loc[purchase_data["Gender"] == "Male",:]
male_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [41]:
male_count = male_df["SN"].nunique()
male_count

484

In [42]:
female_df = purchase_data.loc[purchase_data["Gender"] == "Female",:]
female_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [43]:
female_count = female_df["SN"].nunique()
female_count

81

In [44]:
other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]
other_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [66]:
other_count = other_df["SN"].nunique()
other_count

11

In [67]:
male_percent = (male_count/(male_count+female_count+other_count))*100
female_percent = (female_count/(male_count+female_count+other_count))*100
other_percent = (other_count/(male_count+female_count+other_count))*100

In [86]:
gender_data = {"":["Male","Female","Other / Non-Disclosed"],"Total Count":[male_count,female_count,other_count],"Percentage of Players":[male_percent,female_percent,other_percent]}
gender_df = pd.DataFrame(gender_data)
gender_df

                          Total Count  Percentage of Players
0                   Male          484              84.027778
1                 Female           81              14.062500
2  Other / Non-Disclosed           11               1.909722

In [87]:
gender_df = gender_df.set_index("")
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].astype(float).map("{:.2f}%".format)
gender_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

###Purchasing Analysis(Gender)

In [92]:
gender_group = purchase_data.groupby(['Gender'])
gender_count = gender_group["Purchase ID"].count()

In [93]:
average_purchase_price = gender_group['Price'].mean()
average_purchase_price = average_purchase_price.astype(float).
Total_purchase_value = gender_group['Price'].sum()
gender_count,average_purchase_price, Total_purchase_value

(Gender
 Female                   113
 Male                     652
 Other / Non-Disclosed     15
 Name: Purchase ID, dtype: int64,
 Gender
 Female                   3.203009
 Male                     3.017853
 Other / Non-Disclosed    3.346000
 Name: Price, dtype: float64,
 Gender
 Female                    361.94
 Male                     1967.64
 Other / Non-Disclosed      50.19
 Name: Price, dtype: float64)

In [96]:
average_purchase_price_per_person_male = Total_purchase_value['Male']/male_count
average_purchase_price_per_person_female = Total_purchase_value['Female']/female_count
average_purchase_price_per_person_other = Total_purchase_value['Other / Non-Disclosed']/other_count

In [102]:
purchase_analysis_gender_df = pd.DataFrame({
    "Purchase Count": gender_count,"Average Purchase Price": average_purchase_price,"Total Purchase Value": Total_purchase_value,"Avg Total Purchase per Person": [average_purchase_price_per_person_female,average_purchase_price_per_person_male,average_purchase_price_per_person_other]
})
purchase_analysis_gender_df["Average Purchase Price"] = purchase_analysis_gender_df["Average Purchase Price"].astype(float).map("${:.2f}".format)
purchase_analysis_gender_df["Total Purchase Value"] = purchase_analysis_gender_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchase_analysis_gender_df["Avg Total Purchase per Person"] = purchase_analysis_gender_df["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)
purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56